# ls
alias ls='ls -F --color=auto'
alias l='ls -Flh --color=auto'
alias ll='ls -Flha --color=auto'

# grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# interactive
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

# verbose
alias mkdir='mkdir -v'
alias rmdir='rmdir -v'

# git
alias gs='git status --short'
alias gS='git status'
alias gd='git diff'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --all --decorate --oneline --graph'
alias gL='git log'
alias gt='git ls-tree -r "$(git rev-parse --abbrev-ref HEAD)" --name-only'

# dotfiles
if [ -d "$HOME/.dotfiles" ] && [ ! -d "$HOME/.dotfiles/.git" ]; then
    alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
    alias dfs='dotfiles status --short'
    alias dfS='dotfiles status'
    alias dfd='dotfiles diff'
    alias dfa='dotfiles add'
    alias dfc='dotfiles commit'
    alias dfp='dotfiles push'
    alias dfl='dotfiles log --all --decorate --oneline --graph'
    alias dfL='dotfiles log'
    alias dft='dotfiles ls-tree -r "$(dotfiles rev-parse --abbrev-ref HEAD)" --name-only'
fi

# aria2
alias dl='aria2c -x 16 -s 16'

# battery
alias W='bc -l <<< "$(cat /sys/class/power_supply/BAT0/voltage_now)*$(cat /sys/class/power_supply/BAT0/current_now)/10^12" | cut -b -4'
alias up='uptime -p'

# tmux
alias t='tmux'
alias ta='tmux attach'

# less
alias less='less --raw-control-chars'

# diff
alias diff='git diff --no-index'

# feh
alias feh='feh --scale-down --auto-zoom'
