# ls
alias l='ls -Flh'
alias ll='ls -Flha'

# interactive
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

# verbose
alias mkdir='mkdir -v'
alias rmdir='rmdir -v'

# git
alias gs='git status --short'
alias gS='git status'
alias gd='git diff'
alias gD='git diff --staged'
alias ga='git add'
alias gA='git add --update'
alias gc='git commit'
alias gp='git push'
alias gP='git push --set-upstream origin HEAD'
alias gl='git log --all --decorate --oneline --graph'
alias gL='git log -p'
alias gt='git ls-tree -r "$(git rev-parse --abbrev-ref HEAD)" --name-only'

gw () {
    if [ "$1" = "add" ]; then
        new_worktree="$HOME/Documents/worktree/$(basename $(git rev-parse --show-toplevel))/$2"
        git worktree add $new_worktree
        cd $new_worktree
    elif [ "$1" = "list" ]; then
        git worktree list
    elif [ "$1" = "remove" ]; then
        git worktree remove "$2"
    fi
}

# aria2
alias dl='aria2c -x 16 -s 16'

# tmux
alias t='tmux'
alias ta='tmux attach'

# less
alias less='less --raw-control-chars'

# diff
alias diff='git diff --no-index'

# feh
alias feh='feh --scale-down --auto-zoom'

# nvim
alias vim='nvim'
alias v='nvim'

# reboot to windows
alias win='sudo efibootmgr --bootnext 0001 && reboot'

# convert to PDF
alias officetopdf='libreoffice --headless --convert-to pdf'

# cheat
cheat () {
    curl "cheat.sh/$1"
}

# calculator
alias calc='python -i -c "from math import *"'
